.footer
    width 90%
    margin-left 5%
    position absolute
    bottom 5%
    display flex
    justify-content space-between
    align-items center

.copyright
    font-size 0.67em
    color #aaaaaa

.social-icons i
    color #da2394
    font-size 1.2em

.m-0-20
    margin 0 20px

.countrie-img
    width 10%
    margin-left 10px
    margin-bottom -2px