<div class="swiper-slide">
    <div class="row txt-juice">
      <h1>{{slider.title}} <span class="{{slider.flavor}}">{{slider.flavor}}</span></h1>
      <h2>{{slider.config}}</h2>
      <p>{{slider.description}}</p>
      <button class="learn-more">
        <div class="circle {{slider.bg}}"><span class="icon arrow"></span></div>
        <p class="button-text">R$ {{slider.price}}</p>
      </button>
    </div>
    <span class="subtit-sldr {{slider.flavor}}">eLiquids Store</span>
    <div class="shipping hvr-bob">
      <span>Frete grátis acima R${{slider-infos.ship}}</span>
      <img class="shipping-img" src="../../assets/images/brazil.jpg">
    </div>
    <div class="pag-number">
      <span class="number-1 {{slider.flavor}}">{{slider.id}}</span>
      <span class="number-2">/ {{slider-infos.total}}</span>
    </div>
    <img class="bottle-img" src="../../assets/images/slider/sldr-{{slider.id}}.jpg" />
  </div>