<ul class="desktop-only">
  <li><img class="search-ico" src="../../assets/images/search.svg"></li>
  <li><a [routerLink]='["/"]'>HOME</a></li>
  <li><a [routerLink]='["/juiceFruit"]'>SHOP</a></li>
  <li class="logo"><img src="../../assets/images/juicebot.png" alt="JuiceBot"></li>
  <li>JUICES</li>
  <li>CONTATO</li>
  <li>
    <img class="bag-ico" src="../../assets/images/shopping-bag.svg">
    <div class="bag-number">0</div>
  </li>
</ul>

<div class="pos-f-t mobile-only">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img class="logo" src="../../assets/images/juicebot.png" alt="JuiceBot">
    <span style="width:42px"></span>
  </nav>
</div>