<div class="backg-0">
  <div class="backg-1"></div>
</div>

<div class="item-box">
    <div class="item">
        <img src="../../assets/images/ejuices/fruit/melon-item.jpg">
        
    </div>
    <div class="item">
      <img src="../../assets/images/ejuices/fruit/strawberry-item.jpg">
      
    </div>
    <div class="item">
      <img src="../../assets/images/ejuices/fruit/kiwi-item.jpg">
      
    </div>
    <div class="item">
      <img src="../../assets/images/ejuices/fruit/watermelon-item.jpg">
      
    </div>
</div>