@import "../../assets/css/home/backg.styl"

swiper
    height 80vh
    width 100%
    margin auto
    margin-top -10px

.swiper-slide
    text-align center

.bottle-img
    width 74%
    margin-top -9px
    
.swiper-pagination
    bottom 1px !important
    display flex
    justify-content center
    align-content center
    align-items center

.swiper-button-next
.swiper-button-prev
    display flex
    justify-content center
    align-content center
    align-items center
    width 40px
    height 40px
    border 1px solid #eaeaea
    border-radius 50%
    background-image none !important
    top 40%

.swiper-button-next
    right 3%

.swiper-button-prev
    left 3%

.swiper-button-prev::after
    margin -30px 0 0 -9px

.swiper-button-next::after
    margin -30px 0 0 -12px

.swiper-button-next
.swiper-button-prev 
    .fas
        font-size 0.6em

