<div class="backg-0">
  <div class="backg-1"></div>
</div>

<swiper [config]="config">
  <div class="swiper-wrapper">
    <!-- SILDE 1 -->
    <div class="swiper-slide">
      <div class="row txt-juice">
        <h1>Paradise <span class="num-0-1">Kiwi</span></h1>
        <h2>60 VG / 40 PG - 30ml</h2>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit.<br>
          Phasellus semper libero, at posuere odio et. 
        </p>
        <button class="learn-more">
          <div class="circle">
            <span class="icon arrow"></span>
          </div>
          <p class="button-text">Learn More</p>
        </button>
      </div>

      <span class="subtit-sldr">eLiquids Store</span>
      <div class="shipping">
        <span>Frete grátis acima R$150,00</span>
        <img src="../../assets/images/brazil.jpg">
      </div>
      <div class="pag-number">
        <span class="number-1 num-0-1">1</span>
        <span class="number-2">/ 4</span>
      </div>
      <img src="../../assets/images/slider/sldr-2.jpg" />
    </div>
    <!-- SILDE 2 -->
    <div class="swiper-slide">
      <div class="row txt-juice">
        <h1>Golden <span class="num-1-1">Mango</span></h1>
        <h2>60 VG / 40 PG - 30ml</h2>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit.<br>
          Phasellus semper libero, at posuere odio et. 
        </p>
        <div class="row">
          <a href="#" class="btn-buy">COMPRAR</a>
          <span class="price">R$ 50,00</span>
        </div>
      </div>

      <span class="subtit-sldr">eLiquids Store</span>
      <div class="shipping">
        <span>Frete grátis acima R$150,00</span>
        <img src="../../assets/images/brazil.jpg">
      </div>
      <div class="pag-number">
        <span class="number-1 num-1-1">1</span>
        <span class="number-2">/ 4</span>
      </div>
      <img src="../../assets/images/slider/sldr-1.jpg" />
    </div>
    <!-- SILDE 3 -->
    <div class="swiper-slide">
      <div class="row txt-juice">
        <h1>Juicy <span class="num-2-1">Watermelon</span></h1>
        <h2>60 VG / 40 PG - 30ml</h2>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit.<br>
          Phasellus semper libero, at posuere odio et. 
        </p>
        <div class="row">
          <a href="#" class="btn-buy">COMPRAR</a>
          <span class="price">R$ 50,00</span>
        </div>
      </div>

      <span class="subtit-sldr">eLiquids Store</span>
      <div class="shipping">
        <span>Frete grátis acima R$150,00</span>
        <img src="../../assets/images/brazil.jpg">
      </div>
      <div class="pag-number">
        <span class="number-1 num-2-1">1</span>
        <span class="number-2">/ 4</span>
      </div>
      <img src="../../assets/images/slider/sldr-3.jpg" />
    </div>

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination paginat"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
  <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
</swiper>

