<div class="backg-0">
  <div class="backg-1"></div>
</div>

<swiper [config]="config">
  <div class="swiper-wrapper">
    <!-- SILDE 1 -->
    <div class="swiper-slide">
      <div class="row txt-juice">
        <h1>Golden <span class="melon">Melon</span></h1>
        <h2>35 VG / 65 PG - 30ml</h2>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit.<br>
          Phasellus semper libero, at posuere odio et. 
        </p>
        <button class="learn-more">
          <div class="circle bg-melon">
            <span class="icon arrow"></span>
          </div>
          <p class="button-text">R$ 35,00</p>
        </button>
      </div>

      <span class="subtit-sldr">eLiquids Store</span>
      <div class="shipping hvr-bob">
        <span>Frete grátis acima R$150,00</span>
        <img class="shipping-img" src="../../assets/images/brazil.jpg">
      </div>
      <div class="pag-number">
        <span class="number-1 melon">1</span>
        <span class="number-2">/ 4</span>
      </div>
      <img class="bottle-img" src="../../assets/images/slider/sldr-1.jpg" />
    </div>
    <!-- SILDE 2 -->
    <div class="swiper-slide">
      <div class="row txt-juice">
        <h1>Juicy <span class="watermelon">Watermelon</span></h1>
        <h2>60 VG / 40 PG - 30ml</h2>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit.<br>
          Phasellus semper libero, at posuere odio et. 
        </p>
        <button class="learn-more">
          <div class="circle bg-watermelon">
            <span class="icon arrow"></span>
          </div>
          <p class="button-text">R$ 35,00</p>
        </button>
      </div>

      <span class="subtit-sldr">eLiquids Store</span>
      <div class="shipping hvr-bob">
        <span>Frete grátis acima R$150,00</span>
        <img class="shipping-img" src="../../assets/images/brazil.jpg">
      </div>
      <div class="pag-number">
        <span class="number-1 watermelon">2</span>
        <span class="number-2">/ 4</span>
      </div>
      <img class="bottle-img" src="../../assets/images/slider/sldr-2.jpg" />
    </div>
    <!-- SILDE 3 -->
    <div class="swiper-slide">
      <div class="row txt-juice">
        <h1>Paradise <span class="kiwi">kiwi</span></h1>
        <h2>60 VG / 40 PG - 30ml</h2>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit.<br>
          Phasellus semper libero, at posuere odio et. 
        </p>
        <button class="learn-more">
          <div class="circle bg-kiwi">
            <span class="icon arrow"></span>
          </div>
          <p class="button-text">R$ 35,00</p>
        </button>
      </div>

      <span class="subtit-sldr">eLiquids Store</span>
      <div class="shipping hvr-bob">
        <span>Frete grátis acima R$150,00</span>
        <img class="shipping-img" src="../../assets/images/brazil.jpg">
      </div>
      <div class="pag-number">
        <span class="number-1 kiwi">3</span>
        <span class="number-2">/ 4</span>
      </div>
      <img class="bottle-img" src="../../assets/images/slider/sldr-3.jpg" />
    </div>
    <!-- SILDE 4 -->
    <div class="swiper-slide">
      <div class="row txt-juice">
        <h1>Sunshine <span class="strawberry">Strawberry</span></h1>
        <h2>60 VG / 40 PG - 30ml</h2>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit.<br>
          Phasellus semper libero, at posuere odio et. 
        </p>
        <button class="learn-more">
          <div class="circle bg-strawberry">
            <span class="icon arrow"></span>
          </div>
          <p class="button-text">R$ 35,00</p>
        </button>
      </div>

      <span class="subtit-sldr">eLiquids Store</span>
      <div class="shipping hvr-bob">
        <span>Frete grátis acima R$150,00</span>
        <img class="shipping-img" src="../../assets/images/brazil.jpg">
      </div>
      <div class="pag-number">
        <span class="number-1 strawberry">4</span>
        <span class="number-2">/ 4</span>
      </div>
      <img class="bottle-img" src="../../assets/images/slider/sldr-4.jpg" />
    </div>

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination paginat"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next button3 hvr-icon-wobble-horizontal"><i class="fas fa-chevron-right"></i></div>
  <div class="swiper-button-prev button3 hvr-icon-wobble-horizontal"><i class="fas fa-chevron-left"></i></div>
</swiper>

