@import "../../assets/css/home/backg.styl"
@import "../../assets/css/home/shipping.styl"
@import "../../assets/css/home/text-juice.styl"
@import "../../assets/css/home/bob.styl"
@import "../../assets/css/home/flavors.styl"
@import "../../assets/css/home/btn-buy.styl"

swiper
    height 100%
    width 100%
    margin auto

.swiper-slide
    text-align center

.swiper-pagination
    bottom 40px 
    display flex
    justify-content center
    align-content center
    align-items center

.swiper-button-next,
.swiper-button-prev
    display flex
    justify-content center
    align-content center
    align-items center
    width 40px
    height 40px
    border 1px solid #eaeaea
    border-radius 50%
    background-image none !important
    top 45%

.swiper-button-next
    right 3%

.swiper-button-prev
    left 3%

.swiper-button-prev::after
    margin -30px 0 0 -9px

.swiper-button-next::after
    margin -30px 0 0 -12px

.swiper-button-next
.swiper-button-prev 
    .fas
        font-size 0.6em

.pag-number
    position absolute
    right 22.5%
    top 21%
    font-family 'Roboto', sans-serif

.number-1
    font-size 2.9em
    margin-right 3px

.number-2
    font-size 1.4em
    color #bcbcbc
    position relative
    top -10px

.subtit-sldr
    font-size 1.1em
    position absolute
    left 25.5%
    top 25%
    font-weight 100
    font-family 'Open Sans', sans-serif
    width 120px
    text-align left

.bottle-img
    width 70%
    margin-top 6.5%

.capitalize
    text-transform capitalize

@media (max-width: 480px)
    .bottle-img
        width 98%
        margin-top 16%