<swiper [config]="config">
  <div class="swiper-wrapper">

    <div class="swiper-slide" *ngFor="let slide of slides" >
      <div class="backg-0 {{slide.bg}}"><div class="backg-1"></div></div>
      <div class="row txt-juice">
        <h1>{{slide.title}} <span class="capitalize {{slide.flavor}}">{{slide.flavor}}</span></h1>
        <h2>{{slide.config}}</h2>
        <p>{{slide.description}}</p>
        <a target="_blank" href="https://juicebot.minestore.com.br/produtos/{{slide.site}}">
          <button class="learn-more">
            <div class="circle {{slide.bg}}"><span class="icon arrow"></span></div>
            <p class="button-text">R$ {{slide.price}}</p>
          </button>
        </a>
      </div>
      <span class="subtit-sldr desktop-only {{slide.flavor}}">eLiquids Store</span>
      <div class="shipping desktop-only hvr-bob">
        <span>Frete grátis acima R$ 121,00</span>
        <img class="shipping-img" src="../../assets/images/brazil.jpg">
      </div>
      <div class="pag-number">
        <span class="number-1 {{slide.flavor}}">{{slide.id}}</span>
        <span class="number-2">/ {{slide.total}}</span>
      </div>
      <img class="bottle-img desktop-only" src="../../assets/images/slider/sldr-{{slide.id}}.jpg" />
      <img class="bottle-img mobile-only" src="../../assets/images/slider/mobile/sldr-{{slide.id}}.jpg" />
    </div>

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination paginat"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next desktop-only">
    <i class="fas fa-chevron-right"></i>
  </div>
  <div class="swiper-button-prev desktop-only">
    <i class="fas fa-chevron-left"></i>
  </div>

</swiper>

<ngx-smart-modal #myModal identifier="myModal" [dismissable]="false" [autostart]="true" [escapable]="false" customClass="nsm-dialog-animation-ttb nsm-centered">
  <div class="d-flex justify-content-center align-content-center">
    <div class="botage"><img  src="../../assets/images/juicebot_bot.png" alt="JuiceBot"></div>
  </div>
  <p class="mb-4 txt-age">
    Este site contém produtos impróprios<br>para menores de 18 anos.<br>
    Nós não vendemos para menores de idade!
  </p>
  <div class="d-flex justify-content-center align-content-between text-white">
    <a class="btn btn-dark mr-2" (click)="myModal.close()" >Tenho + de 18 anos</a>
    <a class="btn btn-dark ml-2" href="https://disneyworld.disney.go.com" >Sou menor de idade</a>
  </div>

</ngx-smart-modal>

<button (click)="ngxSmartModalService.getModal('myModal').open()" [hidden]="true">Open myModal</button>