.kiwi
    color #8db718

.mango
    color #ffb504

.watermelon
    color #ff5452

.strawberry
    color #c72c28

.melon
    color #9dc665


.bg-kiwi
    background #8db718

.bg-mango
    background #ffb504

.bg-watermelon
    background #ff5452

.bg-strawberry
    background #c72c28

.bg-melon
    background #9dc665


