.txt-juice
    position: absolute;
    top: 59%;
    right: 21%;
    text-align: left;
    width: 300px;

    h2,p
        font-weight 100
        color #7f7f7f
    h1
        font-size 1.6em
        font-weight 300
        span
            font-style italic
    h2
        font-size 0.9em
    p
        font-size 0.75em
        margin-bottom 25px