/* You can add global styles to this file, and also import other style files */
body, html
    font-family 'Open Sans', sans-serif

.swiper-pagination-bullet-active
    background #000 !important

.swiper-pagination-bullet-active::after
    content "."
    border 1px solid #d4d4d4
    padding 10px
    border-radius 50%
    width 6px
    height 6px
    display block
    margin -10px
    color #fff

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet 
    margin 10px 8px !important
