/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-smart-modal/ngx-smart-modal.css"

body, html
    font-family 'Open Sans', sans-serif
    height 100%
    width 100%
    margin 0
    padding 0

.swiper-pagination-bullet-active
    background #000 !important

.swiper-pagination-bullet-active::after
    content "."
    border 1px solid #efefef
    padding 10px
    border-radius 50%
    width 6px
    height 6px
    display block
    margin -7px
    color #fff

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet 
    margin 10px 8px !important

.nsm-dialog-btn-close
    display none !important

@media (max-width: 480px)
    .desktop-only
        display none !important

@media (min-width: 481px)
    .mobile-only
        display none !important
